body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  float: center;
  margin: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #00B7FF;
}

#navBar {
  position: fixed;
  z-index: 1;
}

#aboutUsBanner {
  background: linear-gradient(135deg, #d8c1eb, #a28ccf);
  text-align: center;
  padding: 20px 0; 
  height: 15vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 26px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#spacer {
  height: 50px;
}

#companyInfoContainer {
  display: flex;
  flex-direction: column;
  width: 33%; 
  height: 60vh;
  padding: 20px;
}

#companyInfo {
  background-color: #f7f7f7; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 34, 34, 0.1); 
  flex-grow: 1;
}

#containerWrapper {
  display: flex;
  justify-content: left;
}

#companyInfo h2 {
  font-size: 15px;
  color: #443277; 
  margin-bottom: 20px;
}

#companyInfo p {
  font-size: 10px;
  line-height: 1.6;
  color: #777; 
}

#companyInfo a {
  color: #8b67c2; 
  text-decoration: none;
  font-weight: bold;
}

#companyInfo a:hover {
  color: #7854b0; 
}

#companyInfo img {
  max-width: 100%;
  width: 50%;
  height: auto;
  margin: 5%;
  margin-left: 25%;
  align-self: center;
}

#ourTeam {
  width: 66%;
  height: 65vh;
}

#ourTeam h2 {
  font-size: 15px;
  color: #443277; 
  margin-bottom: 0px;
  padding: 20px;
  padding-left: 80px;
}

#teamGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.teamMemberInfo {
  height:14vh;
}

.teamMember {
  height: 20vh;
  flex: 0 0 calc(28% - 20px);
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 34, 34, 0.1);
  padding: 10px;
  text-align: center;
  margin-bottom: 0px; 
}

.teamMember img {
  max-width: 50px;
  width: 30%; 
  height: auto;
  border-radius: 100%; 
}

.teamMember h1 {
  font-size: 10px;
  color: #443277; 
  margin: 10px 0;
}
.teamMember h3 {
  font-size: 7px;
}
.teamMember p {
  display: block;
  font-size: 6px;
  margin: 10px 0;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
#companyInfo h2 {font-size: 25px;}
#companyInfo p {font-size: 12px;}
#ourTeam h2 {font-size: 25px;}
.teamMember h1 {font-size: 15px;}
.teamMember h3 {font-size: 10px;}
.teamMember p {font-size: 8px;}
}

/* For desktop: */
@media only screen and (min-width: 725px) {
#companyInfo h2 {font-size: 30px;}
#companyInfo p {font-size: 13px;}
#ourTeam h2 {font-size: 30px;}
.teamMember h1 {font-size: 20px;}
.teamMember h3 {font-size: 13px;}
}

@media only screen and (min-width: 930px) {
  #companyInfo h2 {font-size: 40px;}
  #ourTeam h2 {font-size: 40px;}
  .teamMember h3 {font-size: 15px;}
  .teamMember p {font-size: 10px;}  
}

#navBar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #7854b0;
  display: flex;
  width: 100vw;
}

#navBar #Brainlink {
  background-color: #16617B;
}

#navBar #Groups {
  background-color: #CC744A;
}

#navBar #Brainframe {
  background-color: #BCA664;
}

#navBar li {
  flex: 1;
}

#navBar p {
  color: white;
  font-size: 16px;
  width: 100px;
  float: left;
  padding: 8px 15px;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}



#navBar a {
  float: left;
  display: flex;
  padding: 8px;
  color: white;
  width: 100%;
  height: 50px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#navBar img {
  float: left;
  padding: 3px;
}

#homepageBox {
  position: relative;
  text-align: center;
  margin: 0;
  width: 100vw;
}

#homepageBox_Text {
  position: absolute;
  top: 10%;
  left: -15%;
  width: 80%;
  height: auto;
}

#fade-overlay {
  position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px; /* Adjust the height of the fade as needed */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#Homepage_middle {
  padding-top: 100px;
}

#homepageImageContainer {
  position: relative;
      width: 100vw;
      height: auto;
      overflow: hidden;
}

#Homepage_middle {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#homepage_middle_box_image img {
  flex: 1;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

#homepage_middle_box_image a {
  position: absolute;
  bottom: 25px;
  display: block;
  transform: translateX(30%);
}

#Homepage_middle_2 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#homepage_middle_box_2_images img {
  flex: 1;
  box-sizing: border-box;
  display: block;
  margin: 30px;
  margin-left: 50px;
}

#homepage_middle_box_2_images p {
  position: absolute;
  display: block;
  flex-wrap: wrap;
}

#homepage_middle_text p {
  margin-top:5%; 
  width:160px;
  text-align: left;
  display: flexbox;
  flex-wrap:wrap;
}

#homepage_bottomBox {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  margin: 0;
}

#homepage_bottomBox h2 {
  color: white;
  display:block;
  text-align: center;
  position: absolute;
  margin-top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#homepage_bottomBox button {
  color: white;
  display:block;
  text-align: center;
  position: absolute;
  margin-top: 46%;
  left: 50%;
  font-size: 18px;
  background-color: #7854b0;
  border: none;
  padding: 5px;
  transform: translate(-50%, -50%);
}

#homepage_bottomBox button:hover {
  background-color: #9876cc;
}

#features {
  position: relative;
  top: -150px;
  left: 70px;
}

#features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

#features li p {
  display: block;
  font-size: 20px;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

#features li {
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.featureContent {
  max-width: 1000px;
  left: 25%;
  position: relative;
  top: 150px;
}

.text {
  color: #000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: -130px;
  width: 100%;
  text-align: left;
}

.text h1 {
  position: absolute;
  bottom: 40px;
  text-align: left;
  font-size: 25px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#features .Brainlink.active, .Brainlink:hover {
  background-color: #B2DFE8;
}

#features .Brainy.active, .Brainy:hover {
  background-color: #C0B6DE;
}

#features .Groups.active, .Groups:hover {
  background-color: #F7BC95;
}

#features .Brainframe.active, .Brainframe:hover {
  background-color: #EADFAF;
}
