body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  float: center;
  margin: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #00B7FF;
}

#navBar {
  position: fixed;
  z-index: 1;
}

#aboutUsBanner {
  background: linear-gradient(135deg, #d8c1eb, #a28ccf);
  text-align: center;
  padding: 20px 0; 
  height: 15vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 26px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#spacer {
  height: 50px;
}

#companyInfoContainer {
  display: flex;
  flex-direction: column;
  width: 33%; 
  height: 60vh;
  padding: 20px;
}

#companyInfo {
  background-color: #f7f7f7; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 34, 34, 0.1); 
  flex-grow: 1;
}

#containerWrapper {
  display: flex;
  justify-content: left;
}

#companyInfo h2 {
  font-size: 15px;
  color: #443277; 
  margin-bottom: 20px;
}

#companyInfo p {
  font-size: 8px;
  line-height: 1.6;
  color: #777; 
}

#companyInfo a {
  color: #8b67c2; 
  text-decoration: none;
  font-weight: bold;
}

#companyInfo a:hover {
  color: #7854b0; 
}

#companyInfo img {
  max-width: 100%;
  width: 50%;
  height: auto;
  margin: 5%;
  margin-left: 25%;
  align-self: center;
}

#ourTeam {
  width: 66%;
  height: 65vh;
}

#ourTeam h2 {
  font-size: 15px;
  color: #443277; 
  margin-bottom: 0px;
  padding: 20px;
  padding-left: 5vw;
}

#teamGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.teamMemberInfo {
  height:14vh;
}

.teamMember {
  height: 110px;
  flex: 0 0 calc(15vw - 10px);
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 34, 34, 0.1);
  padding: 10px;
  text-align: center;
  margin-bottom: 0px; 
}

.teamMember img {
  max-width: 50px;
  min-width: 14px;
  width: 30%; 
  height: auto;
  border-radius: 100%; 
}

.teamMember h1 {
  font-size: 10px;
  color: #443277; 
  margin: 10px 0;
}
.teamMember h3 {
  font-size: 7px;
}
.teamMember p {
  display: block;
  font-size: 6px;
  margin: 10px 0;
}

.aboutusPage { overflow: visible; }

@media only screen and (min-height: 720px) {
  .aboutusPage { overflow: hidden; }
}

#navBar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #7854b0;
  display: flex;
  width: 100vw;
}

#navBar #Brainlink {
  background-color: #16617B;
}

#navBar #Groups {
  background-color: #CC744A;
}

#navBar #Brainframe {
  background-color: #BCA664;
}

#navBar li {
  flex: 1;
}

#navBar p {
  display: flex;
  color: white;
  font-size: 10px;
  width: 12vw;
  float: left;
  padding: 8px 15px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}



#navBar a {
  float: left;
  display: flex;
  color: white;
  width: 100%;
  height: 67px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#navBar img {
  float: left;
  padding: 3px;
}

#homepageBox {
  position: relative;
  text-align: center;
  margin: 0;
  width: 100vw;
}

#homepageBox_Text {
  position: absolute;
  top: 10vw;
  left: -15%;
  width: 80%;
  height: auto;
}

#fade-overlay {
  position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px; /* Adjust the height of the fade as needed */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#Homepage_middle {
  padding-top: 100px;
}

#homepageImageContainer {
  position: relative;
      width: 100vw;
      height: auto;
      overflow: hidden;
}

#Homepage_middle {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#homepage_middle_box_image img {
  flex: 1;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

#homepage_middle_box_image .links {
  position: relative;
  bottom: 36px;
  display: block;
}

#Homepage_middle_2 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#homepage_middle_box_2_images img {
  flex: 1;
  box-sizing: border-box;
  display: block;
  margin: 30px;
  margin-left: 50px;
}

#homepage_middle_box_2_images p {
  position: absolute;
  display: block;
  flex-wrap: wrap;
}

.homepage_middle_text {
  position: relative;
  margin-top: 58px;
  width: 160px;
  text-align: left;
  margin-bottom: 230px;
}

.homepage_middle_text a p {transform: translateY(90px) translateX(50px);}

#homepage_bottomBox {
  width: 100vw;
  height: auto;
  align-content: center;
  margin: 0;
}

#homepage_bottomBox .bottom_content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 55vw;
}

#homepage_bottomBox .bottom_content h2 {
  color: white;
  display: block;
  margin: 4px;
  text-align: center;
  font-size: 25px;
}

#homepage_bottomBox .bottom_content button {
  color: white;
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  background-color: #7854b0;
  border: none;
  padding: 5px;
}

#homepage_bottomBox .bottom_content button:hover {
  background-color: #9876cc;
}

@media only screen and (min-width: 360px) {
  .homepage_middle_text a p {transform: translateY(140px) translateX(50px);}
  #homepage_bottomBox .bottom_content {top: 50vw;}
}

#features {
  position: relative;
  top: -50%;
}

#features ul {
  list-style-type: none;
  width: 200px;
}

#features li p {
  display: block;
  font-size: 10px;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

#features li {
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.featureContent {
  width: 50vw;
  left: 50%;
  position: relative;
  top: 130px;
}

.featureContent img {
  width: 50vw;
  height: 30vw;
}

.text {
  color: #000;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  bottom: -130px;
  left: -100px;
  width: 50vw;
  text-align: left;
}

.text h1 {
  position: absolute;
  bottom: 40px;
  text-align: left;
  font-size: 20px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#features .Brainlink.active, .Brainlink:hover {
  background-color: #B2DFE8;
}

#features .Brainy.active, .Brainy:hover {
  background-color: #C0B6DE;
}

#features .Groups.active, .Groups:hover {
  background-color: #F7BC95;
}

#features .Brainframe.active, .Brainframe:hover {
  background-color: #EADFAF;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    #navBar p {font-size: 16px;}
    #navBar a {font-size: 16px;}
    .text {font-size: 15px;}
    .text h1 {font-size: 25px;}
    #features ul {width: 250px;}
    #features li p {font-size: 15px;}
    #features {top: -100px;}

    #companyInfo h2 {font-size: 25px;}
    #companyInfo p {font-size: 10px;}
    #ourTeam h2 {font-size: 25px;}
    .teamMember h1 {font-size: 15px;}
    .teamMember h3 {font-size: 10px;}
    .teamMember p {font-size: 8px;}
    .teamMember {height: 130px;}
  }
  
  /* For desktop: */
  @media only screen and (min-width: 725px) {
    .featureContent {left: 40%;}

    #companyInfo h2 {font-size: 30px;}
    #ourTeam h2 {font-size: 30px;}
    .teamMember h1 {font-size: 20px;}
    .teamMember h3 {font-size: 13px;}
    .teamMember {height: 180px;}
  }
  
  @media only screen and (min-width: 930px) {
    .featureContent {left: 30%;}
    .text {font-size: 20px;}
    .text h1 {font-size: 25px;}
    #features ul {width: 300px;}
    #features li p {font-size: 20px;}
    #features {top: -120px;}

    #companyInfo h2 {font-size: 40px;}
    #companyInfo p {font-size: 12px;}
    #ourTeam h2 {font-size: 40px;}
    .teamMember h3 {font-size: 15px;}
    .teamMember p {font-size: 10px;}  
  }
